.navbar {
    background: #136a8a; /* fallback for old browsers */
    background: linear-gradient(to right, #136a8a, #267871) !important; /* Chrome 10-25, Safari 5.1-6 */
}
.navbar-brand {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 1.8rem;
}
.list .btn {
    color: #136a8a;
    background: none;
}
.form h2 {
    margin-top: 2rem;
}
.form .btn {
    background: linear-gradient(to right, #136a8a, #267871) !important;
    border-color: none !important;
    color: #fff;
}
.form .btn:hover {
    background: linear-gradient(to right, #267871, #136a8a) !important;
}